<html lang="en">
    <%- include("./partials/head.ejs") %>
<body>
    <div class="container">
        <h1 class="error">Error</h1>
        <p class="errorMessage"><%= errorMessage %></p>
        <br>
        <a href="/login" class="errorLogin">Go back to Login</a>
    </div>
</body>
</html>