<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>

    <%- include('./partials/nav.ejs') %>
    
    <div class="blogs content">
        <h2>About Us</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima a eligendi accusamus quidem exercitationem vitae fuga architecto, voluptatem dolorem? Officiis aperiam possimus ipsam maiores! Repudiandae ipsum accusamus quibusdam amet vero.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum praesentium sapiente architecto pariatur, expedita id molestias quae, temporibus quas necessitatibus nulla inventore aliquid a dolorem, quia sed odio nam neque!</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facere dolores incidunt deserunt! Recusandae exercitationem magnam nemo quidem esse vitae rerum voluptas dolore ab soluta ipsa id, quasi ullam quod delectus.</p>
    </div>

    <%- include('./partials/footer.ejs') %>

</body>
</html>