<nav>
    <div class="site-titel">
        <a href="/">Blog Test</a>
        <p>En test nettside</p>
    </div>
    <ul>
        <li><a href="/">Blogs</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/blogs/create">New Blogs</a></li>
    </ul>
</nav>